[tool.poetry]
name = "web3-input-decoder"
version = "0.1.0"
# doc
authors = ["Weiliang Li <to.be.impressive@gmail.com>"]
description = "Offline web3 transaction input decoder for functions and constructors"
license = "MIT"
maintainers = ["Weiliang Li <to.be.impressive@gmail.com>"]
readme = "README.md"
repository = "https://github.com/kigawas/web3-input-decoder"
# tags
classifiers = [
  "Development Status :: 4 - Beta",
  "Intended Audience :: Developers",
  "Natural Language :: English",
  "Programming Language :: Python :: Implementation :: CPython",
  "Operating System :: OS Independent",
]
keywords = [
  "ethereum",
  "web3",
]
# package data
include = ["web3_input_decoder/py.typed"]

[tool.poetry.dependencies]
python = "^3.6"

# 3rd party
eth-abi = "^2.1.1"
eth-utils = "^1.10.0"
pysha3 = "^1.0.2"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
flake8 = "^3.9.0"
ipython = {version = "^7.22", python = "^3.7"}
mypy = "^0.812"
# test
pytest = "^6.2.2"
pytest-cov = "^2.11.1"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.isort]
multi_line_output = 3
profile = "black"
