[tool.poetry]
name = "web3-input-decoder"
version = "0.1.7"
# doc
authors = ["Weiliang Li <to.be.impressive@gmail.com>"]
description = "A simple offline web3 transaction input decoder for functions and constructors"
license = "MIT"
maintainers = ["Weiliang Li <to.be.impressive@gmail.com>"]
readme = "README.md"
repository = "https://github.com/kigawas/web3-input-decoder"
# tags
classifiers = [
  "Development Status :: 4 - Beta",
  "Intended Audience :: Developers",
  "Natural Language :: English",
  "Programming Language :: Python :: Implementation :: CPython",
  "Operating System :: OS Independent",
]
keywords = [
  "ethereum",
  "web3",
]
# package data: PEP-561
include = ["web3_input_decoder/py.typed"]

[tool.poetry.dependencies]
python = "^3.7"

# 3rd party
eth-abi = "^4.0.0b2"
eth-utils = "^2.1.0"
pycryptodome = "^3.15.0"

[tool.poetry.dev-dependencies]
black = "^22.10.0"
flake8 = {version = "^6.0.0", python = "^3.8.1"}
ipython = {version = "^8.6.0", python = "^3.8"}
mypy = "^0.991"

# stubs
eth-typing = "^3.2.0"

# test
pyinstrument = "^4.3.0"
pytest = "^7.2.0"
pytest-cov = "^4.0.0"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.isort]
multi_line_output = 3
profile = "black"
